@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(11, 146, 101, 0.5);
}

.thumb::-webkit-slider-thumb {
  background-color: #FDFFA9;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #4B4D0B;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.trapezoid {
  position: absolute;
  border-bottom: 35px solid transparent;
  border-Top: 35px solid transparent;
  border-left: 35px solid #CD1515;
  height: 100px;
  left: 5px;
  top: -28px;
  transform: rotate(225deg);
}

.circle-wrap {
  width: 200px;
  height: 200px;
  background: #4B4D0B;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 200px, 200px, 99px);
}

.circle-wrap .inside-circle {
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #00C897;
  text-align: center;
  line-height: 40px;
  margin-top: 14px;
  margin-left: 14px;
  color: #4B4D0B;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 100px, 200px, 0px);
  background-color: #FFD365;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 2s;
  transform: rotate(155deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(155deg);
  }
}